<div style="height: calc(100% - 88px)" layout="column" layout-align="center center">
    <h2>{{'CHECK_BACK_SOON' | translate}}</h2>
</div>
<!--<md-content flex layout="row" layout-padding class="about-top-padding kt-test" style="justify-content: center;">-->

<!--<div flex="80" flex-xs="100" layout="column" class="bullet-list">-->

<!--<h2 class="dimgrey margin-top md-headline">{{'accommodation_HEADER' | translate}}</h2>-->

<!--<p class="md-body-1 kt-justify">Η ιδέα της δημιουργίας του 1 st Thessaloniki Street Food Festival γεννήθηκε μέσα από τα ταξίδια-->

<!--μας, την αγάπη μας για το φαγητό και φυσικά την ιστορία της Θεσσαλονίκης. Έχοντας ζήσει ο-->

<!--καθένας μας σε διάφορες πόλεις ανά τον κόσμο (Γερμανία, Μεγ. Βρετανία, Ισπανία, Πολωνία,-->

<!--Ολλανδία, κλπ) είχαμε την ευκαιρία να επισκεφτούμε, να γευτούμε &amp; να δουλέψουμε σε αντίστοιχα-->

<!--Street Food Festivals. Μέσα στο μυαλό μας η γαστρονομική αναζήτηση είναι άρρηκτα συνδεδεμένη-->

<!--με κάθε μας ταξίδι. Παράξενες γεύσεις, παλιές &amp; νέες συνταγές, άγνωστοι συνδυασμοί και υλικά.</p>-->

<!--<h2 class="md-subhead">Τί περιλαμβάνει το <i>Thessaloniki Street Food Festival</i>:</h2>-->

<!--<ul class="md-body-1 kt-justify">-->
<!--<li>Αγορά με δίσκους, ρούχα, υποδήματα, κατασκευές, ηλεκτρικές συσκευές, έργα τέχνης, παιχνίδια</li>-->
<!--<li>Street food: Γεύσεις από διάφορα σημεία του κόσμου (ακόμη περισσότερες από την προηγούμενη φορά)</li>-->
<!--<li>Περισσότερα Workshops & Παρουσιάσεις βιβλίων για τα παιδιά</li>-->
<!--<li>Χώρος για οργανώσεις για την ενημέρωση του προσφυγικού και συλλογής αγαθών για πρόσφυγες και άστεγους</li>-->
<!--<li>Μουσικές εκδηλώσεις με DJs</li>-->
<!--<li> Bar & Chill Zone</li>-->
<!--</ul>-->

<!--<br/>-->

<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<h2 class="dimgrey margin-top">Υπό την αιγίδα</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;<md-grid-list&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;md-cols-xs="4" md-cols-sm="6" md-cols-md="6" md-cols-gt-md="8"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;md-row-height-gt-md="1:1" md-row-height="1:1"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;md-gutter="12px" md-gutter-gt-sm="30px">&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;<md-grid-tile ng-repeat="logo in aboutCtrl.logosDimosUrl track by $index">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<a ng-href="{{logo}}" target="_blank" ng-mouseenter="active=true" ng-mouseleave="active=false"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;ng-class="active ? 'active-logo' : 'logo'">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<img ng-src="assets/img/logos/dimos/{{$index}}.jpg"/>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</md-grid-tile>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;</md-grid-list>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div>-->
<!--<h2 class="dimgrey margin-top">Media partners</h2>-->
<!--<md-divider></md-divider>-->

<!--<md-grid-list-->
<!--md-cols-xs="4" md-cols-sm="6" md-cols-md="6" md-cols-gt-md="8"-->
<!--md-row-height-gt-md="1:1" md-row-height="1:1"-->
<!--md-gutter="12px" md-gutter-gt-sm="30px">-->

<!--<md-grid-tile ng-repeat="logo in aboutCtrl.logosMediaUrl track by $index">-->
<!--<a ng-href="{{logo}}" target="_blank" ng-mouseenter="active=true" ng-mouseleave="active=false"-->
<!--ng-class="active ? 'active-logo' : 'logo'">-->
<!--<img ng-src="assets/img/logos/mediaPartners/{{$index}}.jpg"/>-->
<!--</a>-->
<!--</md-grid-tile>-->

<!--</md-grid-list>-->
<!--</div>-->

<!--<div>-->
<!--<h2 class="dimgrey margin-top">Sponsors</h2>-->
<!--<md-divider></md-divider>-->

<!--<md-grid-list-->
<!--md-cols-xs="4" md-cols-sm="6" md-cols-md="6" md-cols-gt-md="8"-->
<!--md-row-height-gt-md="1:1" md-row-height="1:1"-->
<!--md-gutter="12px" md-gutter-gt-sm="30px">-->

<!--<md-grid-tile ng-repeat="logo in aboutCtrl.logosSponsors track by $index">-->
<!--<a ng-href="{{logo}}" target="_blank" ng-mouseenter="active=true" ng-mouseleave="active=false"-->
<!--ng-class="active ? 'active-logo' : 'logo'">-->
<!--<img ng-src="assets/img/logos/sponsors/{{$index}}.jpg"/>-->
<!--</a>-->
<!--</md-grid-tile>-->

<!--</md-grid-list>-->
<!--</div>-->

<!--<div>-->
<!--<h2 class="dimgrey margin-top">Supporters</h2>-->
<!--<md-divider></md-divider>-->

<!--<md-grid-list-->
<!--md-cols-xs="4" md-cols-sm="6" md-cols-md="6" md-cols-gt-md="8"-->
<!--md-row-height-gt-md="1:1" md-row-height="1:1"-->
<!--md-gutter="12px" md-gutter-gt-sm="30px">-->

<!--<md-grid-tile ng-repeat="logo in aboutCtrl.logosSupportersUrl track by $index">-->
<!--<a ng-href="{{logo}}" target="_blank" ng-mouseenter="active=true" ng-mouseleave="active=false"-->
<!--ng-class="active ? 'active-logo' : 'logo'">-->
<!--<img ng-src="assets/img/logos/supporters/{{$index}}.jpg"/>-->
<!--</a>-->
<!--</md-grid-tile>-->

<!--</md-grid-list>-->
<!--</div>-->

<!--<div>-->
<!--<h2 class="dimgrey margin-top">Street food</h2>-->
<!--<md-divider></md-divider>-->

<!--<md-grid-list-->
<!--md-cols-xs="4" md-cols-sm="6" md-cols-md="6" md-cols-gt-md="8"-->
<!--md-row-height-gt-md="1:1" md-row-height="1:1"-->
<!--md-gutter="12px" md-gutter-gt-sm="30px">-->

<!--<md-grid-tile ng-repeat="logo in aboutCtrl.logosStreetFoodUrl track by $index">-->
<!--<a ng-href="{{logo}}" target="_blank" ng-mouseenter="active=true" ng-mouseleave="active=false"-->
<!--ng-class="active ? 'active-logo' : 'logo'">-->
<!--<img ng-src="assets/img/logos/streetFood/{{$index}}.jpg"/>-->
<!--</a>-->
<!--</md-grid-tile>-->

<!--</md-grid-list>-->
<!--</div>-->

<!--</div>-->


<!--</md-content>-->
