<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="soulFood" ng-strict-di class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="soulFood" ng-strict-di class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="soulFood" ng-strict-di class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="gr" itemscope itemtype="https://schema.org/-----" ng-app="soulFood" ng-strict-di class="no-js">
<!--<![endif]-->
<head>
    <title>Soul Food Thessaloniki</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Flea Market Thessaloniki">
    <meta name="keywords" content="Flea, Market, Thessaloniki, SKG, Second, Hand, Art, Food, Music">
    <meta name="author" content="Konstantinos Tsafaris">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Flea Market Thessaloniki">
    <meta itemprop="description"
          content="Μια τοπική γιορτή που γίνεται 4 φορές το χρόνο, πάντα σε συμβολικούς για την πόλη χώρους και με καινούργια στοιχεία κάθε φορά!">
    <meta itemprop="image" content="http://thefleamarketskg.com/assets/img/handmade_shoes.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Flea Market Thessaloniki">
    <meta name="twitter:image" content="http://thefleamarketskg.com/assets/img/handmade_shoes.jpg">
    <meta name="twitter:description"
          content="Μια τοπική γιορτή που γίνεται 4 φορές το χρόνο, πάντα σε συμβολικούς για την πόλη χώρους και με καινούργια στοιχεία κάθε φορά">

    <!-- Open Graph data -->
    <meta property="og:title" content="Flea Market Thessaloniki">
    <meta property="og:description"
          content="Μια τοπική γιορτή που γίνεται 4 φορές το χρόνο, πάντα σε συμβολικούς για την πόλη χώρους και με καινούργια στοιχεία κάθε φορά">
    <meta property="og:url" content="http://thefleamarketskg.com/">
    <meta property="og:image" content="http://thefleamarketskg.com/assets/img/handmade_shoes.jpg">
    <meta property="og:type" content="website">

    <!--FAVICON-->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="assets/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!--END-->

    <!-- build:css css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet"
          href="../bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css"/>
    <link rel="stylesheet" href="../bower_components/angular-loading-bar/build/loading-bar.css"/>
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="../bower_components/angular-material-data-table/dist/md-data-table.css"/>
    <link rel="stylesheet" href="../bower_components/angular-material-icons/angular-material-icons.css"/>
    <link rel="stylesheet" href="../bower_components/please-wait/build/please-wait.css"/>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../bower_components/SpinKit/css/spinkit.css"/>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&subset=greek,greek-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->

    <!-- build:js js/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
    <script src="../bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="../bower_components/angular-material-data-table/dist/md-data-table.js"></script>
    <script src="../bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="../bower_components/angular-loader/angular-loader.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/please-wait/build/please-wait.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>  &lt;!&ndash;for google maps&ndash;&gt;-->
    <script src="../bower_components/lodash/dist/lodash.js"></script>  <!--for google maps-->
    <!--Google Maps-->
    <script src="../bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="../bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>

    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js js/app.js -->
    <script src="app.js"></script>
    <script src="mainController.js"></script>
    <script src="components/home/js/homeController.js"></script>
    <script src="components/about/js/aboutController.js"></script>
    <script src="components/contact/js/contactController.js"></script>
    <script src="components/location/js/locationController.js"></script>
    <script src="components/info/js/infoController.js"></script>
    <script src="components/application/js/applicationController.js"></script>
    <script src="components/accomodation/js/accomodationController.js"></script>
    <!-- endbuild -->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-49294327-4', 'auto');
        ga('send', 'pageview');
    </script>

</head>

<body ng-controller="mainController as mainCtrl" ng-cloak>

<div flex layout="row" style="min-height: 100vh; width:100%;">
    <md-sidenav class="md-sidenav-left"
                md-component-id="left"
                md-whiteframe="4">
        <!--md-is-locked-open="$mdMedia('gt-md')"-->
        <md-toolbar layout="row" layout-align="space-between center">
            <div flex>
                <md-button ng-click="mainCtrl.closeSidebar()" class="md-icon-button" aria-label="Close menu">
                    <ng-md-icon icon="arrow_back"></ng-md-icon>
                </md-button>
            </div>
            <p flex style="text-align: center;">Menu</p>
            <div flex></div>
        </md-toolbar>

        <div layout="column" layout-align="center center">
            <md-button ng-repeat="item in mainCtrl.menuItems"
                       ui-sref-active="active" ng-click="mainCtrl.goToState(item.state); mainCtrl.closeSidebar()"
                       aria-label="Close menu">{{item.name}}
            </md-button>
        </div>
    </md-sidenav>


    <div flex layout="column" class="main-background">

        <md-toolbar id="top-toolbar" md-scroll-shrink ng-class=" $mdMedia('gt-xs') ? 'md-medium-tall' : 'md-medium' "
                    layout="row"
                    layout-align="space-between center">
            <div class="main-logo" flex-offset="5" hide-xs>
                <a ui-sref="home" ng-mouseenter="mainCtrl.active=true" ng-mouseleave="mainCtrl.active=false"
                   ng-class="active ? 'active-main-logo' : ''"><img src="assets/img/logoSoulTr.png"/></a>
            </div>

            <div flex="20" hide-gt-xs>
                <md-button ng-click="mainCtrl.openSidebar()" aria-label="Open menu">
                    <ng-md-icon icon="menu" style="fill: black;"></ng-md-icon>
                </md-button>
            </div>

            <div flex="60" class="md-toolbar-tools" layout-align="center center" hide-gt-xs>
                <div class="main-logo-sm">
                    <a ui-sref="home" ng-mouseenter="active=true" ng-mouseleave="active=false"
                       ng-class="active ? 'active-logo' : ''"><img src="assets/img/fleaMarketLogoTransSM.png"/></a>
                </div>
            </div>

            <div flex="20" hide-gt-xs></div>

            <div class="md-toolbar-tools" layout-align="center center" hide-xs>

                <md-button ng-click="mainCtrl.goToState('application')" md-ink-ripple="false"
                           ui-sref="application" ui-sref-active="active" class="menu-toolbar-button white">
                    {{'APPLICATION' | translate}}
                </md-button>

                <md-button ng-click="mainCtrl.goToState('location')" md-ink-ripple="false"
                           ui-sref="location" ui-sref-active="active" class="menu-toolbar-button white">
                    {{'LOCATION' | translate}}
                </md-button>

                <md-button ng-click="mainCtrl.goToState('accomodation')" md-ink-ripple="false"
                           ui-sref="accomodation" ui-sref-active="active" class="menu-toolbar-button white">
                    {{'ACCOMODATION' | translate}}
                </md-button>

                <md-button ng-click="mainCtrl.goToState('contact')" md-ink-ripple="false"
                           ui-sref="contact" ui-sref-active="active" class="menu-toolbar-button white">
                    {{'CONTACT' | translate}}
                </md-button>

                <!--<md-menu layout="row">-->
                <!--<md-button flex aria-label="Information" class="menu-toolbar-button white"-->
                <!--ui-sref="info" ui-sref-active="active"-->
                <!--ng-click="mainCtrl.openMenu($mdOpenMenu, $event)">-->
                <!--Πληροφοριες-->
                <!--</md-button>-->
                <!--<md-menu-content width="4">-->
                <!--&lt;!&ndash; <md-menu-item>-->
                <!--<md-button ui-sref="info">General</md-button>-->
                <!--</md-menu-item>-->
                <!--<md-menu-divider></md-menu-divider> &ndash;&gt;-->
                <!--<md-menu-item>-->
                <!--<md-button ui-sref="info.merchants">Εκθέτες</md-button>-->
                <!--</md-menu-item>-->
                <!--<md-menu-divider></md-menu-divider>-->
                <!--<md-menu-item>-->
                <!--<md-button ui-sref="info.visitors">Επισκέπτες</md-button>-->
                <!--</md-menu-item>-->
                <!--</md-menu-content>-->
                <!--</md-menu>-->

            </div>

            <!--<md-select ng-model="mainCtrl.selectedLang" ng-change="mainCtrl.updateLanguage()" class="md-no-underline">-->
            <!--<md-option value="en"><md-icon md-svg-icon="assets/img/englishFlag.svg"></md-icon></md-option>-->
            <!--<md-option value="gr"><md-icon md-svg-icon="assets/img/greekFlag.svg"></md-icon></md-option>-->
            <!--</md-select>-->

            <div layout="row" layout-align="center">
                <md-button class="md-icon-button" aria-label="English" ng-click="mainCtrl.updateLanguage('en')"
                           ng-show="mainCtrl.selectedLang=='gr'">
                    <md-icon md-svg-icon="assets/img/englishFlag.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="English" ng-click="mainCtrl.updateLanguage('gr')"
                           ng-show="mainCtrl.selectedLang=='en'">
                    <md-icon md-svg-icon="assets/img/greekFlag.svg"></md-icon>
                </md-button>
            </div>


            <div flex="10"></div>
        </md-toolbar>

        <md-content ui-view flex layout="column" id="main-content" style="min-height: calc(100vh - 88px)"></md-content>

        <md-content ng-hide="state.is('home') || state.is('application')" ng-include="'footer.html'" md-theme="footer"
             layout="column"></md-content>

        <!--<md-fab-speed-dial md-direction="up" class="md-fling md-fab-bottom-left" md-theme="tabs"-->
        <!--ng-hide="state.is('home')">-->
        <!--<md-fab-trigger>-->
        <!--<md-button aria-label="menu" class="md-fab md-primary">-->
        <!--<md-icon md-svg-src="assets/img/menu-alt.svg" style="color:white;"></md-icon>-->
        <!--</md-button>-->
        <!--</md-fab-trigger>-->

        <!--<md-fab-actions md-theme="default">-->
        <!--<md-button aria-label="FAQ" class="md-fab md-raised md-mini" ng-click="mainCtrl.showFaq();">-->
        <!--<md-tooltip md-direction="right">-->
        <!--Συχνές ερωτήσεις-->
        <!--</md-tooltip>-->
        <!--FAQ-->
        <!--</md-button>-->
        <!--<md-button aria-label="Πληροφορίες συμμετοχής" class="md-fab md-raised md-mini"-->
        <!--ng-click="mainCtrl.showBasicInfo();">-->
        <!--<md-icon md-svg-src="assets/img/info.svg" aria-label="Πληροφορίες συμμετοχής"></md-icon>-->
        <!--<md-tooltip md-direction="right">-->
        <!--Πληροφορίες συμμετοχής-->
        <!--</md-tooltip>-->
        <!--</md-button>-->
        <!--<md-button aria-label="Facebook" class="md-fab md-raised md-mini"-->
        <!--href="https://www.facebook.com/fleathessaloniki/" target="_blank">-->
        <!--<md-icon md-svg-src="assets/img/facebook.svg" aria-label="Facebook"></md-icon>-->
        <!--<md-tooltip md-direction="right">-->
        <!--Βρείτε μας στο Facebook-->
        <!--</md-tooltip>-->
        <!--</md-button>-->
        <!--<md-button aria-label="Instagram" class="md-fab md-raised md-mini"-->
        <!--href="https://www.instagram.com/upnloud/" target="_blank">-->
        <!--<md-icon md-svg-src="assets/img/instagram.svg" aria-label="Instagram"></md-icon>-->
        <!--<md-tooltip md-direction="right">-->
        <!--Βρείτε μας στο Instagram-->
        <!--</md-tooltip>-->
        <!--</md-button>-->
        <!--</md-fab-actions>-->
        <!--</md-fab-speed-dial>-->

        <div class="my-signature">
            <a href="http://www.tsafaris.com" target="_blank">
                <md-icon md-svg-src="assets/img/ic_code_black_24px.svg" class="s24"
                         aria-label="Kostis Tsafaris"></md-icon>
                <md-tooltip md-direction="bottom">Find out who built me!</md-tooltip>
            </a>
        </div>

    </div>
</div>

</body>
</html>