<md-dialog aria-label="FAQ">
    <md-dialog-content>
        <div class="md-dialog-content">

            <h5 class="md-headline">Συχνές Ερωτήσεις</h5>
            <hr>

            <h5 class="md-title">1. Τί γίνεται με το ταμείο ανεργίας ή την κάρτα
            ανεργίας?</h5>
            <p>Το ταμείο δε χάνεται, η διαδικασία δεν το επηρεάζει, δυστυχώς όμως η κάρτα ανεργίας θα πρέπει να διακοπεί
                και να
                κάνετε τις σχετικές ενέργειες για έκδοση νέας.</p>

            <br>

            <h5 class="md-title">2. Αν είμαι συνταξιούχος μπορώ να λάβω μέρος?</h5>
            <p>Μπορείτε να λάβετε κανονικά μέρος.</p>

            <br>

            <h5 class="md-title">3. Ως ιδιώτης μπορώ να λάβω μέρος?</h5>
            <p>Φυσικά, η διοργάνωση γίνεται τόσο για ιδιώτες, όσο και για επαγγελματίες.</p>

            <br>

            <h5 class="md-title">4. Το βράδυ πρέπει να μαζέψουμε και να στήσουμε ξανά την Κυριακή?</h5>
            <p>Οχι, θα υπάρχει εταιρεία security που θα αναλάβει τη φύλαξη του χώρου, καθόλη την διάρκεια της
                εκδήλωσης.</p>

            <br>

            <h5 class="md-title">5. Υπάρχουν θέσεις ακόμα?</h5>
            <p>Μέχρι τις 5 Δεκεμβρίου συνεχίζονται κανονικά οι συμμετοχές. Στόχος μας είναι να είναι ένα πραγματικό
                Flea Market, γι' αυτό και θέλουμε ποικιλία και πολυφωνία. Θα υπάρχουν ζώνες και θα μοιραστεί χάρτης στην
                είσοδο που θα αναφέρονται συμμετέχοντες και πάγκοι.</p>

            <br>

            <h5 class="md-title">6. Πότε ενημερωνόμαστε για το αν θα λάβουμε μέρος?</h5>
            <p>Σταδιακά ενημερώνεστε όλοι που πρόκειται να λάβετε μέρος μέσω μαίηλ, γι' αυτό να ελέγχετε και την
                ανεπιθύμητη αλληλογραφία.</p>

            <br>

            <h5 class="md-title">7. Σε περίπτωση που δεν ενημερώθηκα?</h5>
            <p>Σε περίπτωση ακύρωσης κάποιας θέσης, υπάρχουν επιλαχόντες που θα λάβουν τη θέση των ακυρωθέντων.
                Διαφορετικά κράταμε το μέηλ σας και θα ενημερώνεστε για τις επόμενες εκδηλώσεις μας.</p>

        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="closeDialog()">
            Close
        </md-button>
    </md-dialog-actions>

</md-dialog>
