<md-dialog aria-label="FAQ">
    <md-dialog-content>
        <div class="md-dialog-content bullet-list">

            <h5 class="md-headline">Πληροφορίες Συμμετοχής</h5>
            <hr>
            <h5 class="md-title">Τοποθεσία</h5>
            <p class="md-body-1">LΑΒattoir (παλιά σφαγεία) Ιστοσελίδα:<a
                    href="http://www.labattoir.org/" target="_blank"> http://www.labattoir.org/</a></p>
            <br>
            <h5 class="md-title">Κόστος συμμετοχής</h5>
            <p class="md-body-1">Ανάλογα με το «μέγεθος» του χώρου που επιθυμείς να έχεις στη διάθεσή σου, το κόστος
                συμμετοχής ξεκινά από τα 100 Ευρώ και φτάνει έως και τα 180 ευρώ.</p>

            <h6 class="md-subhead">Στην άνω τιμή συμπεριλαμβάνονται:</h6>
            <ul class="md-body-1">
                <li><b>Τέντα -</b> οι τέντες θα καλύπτουν το σύνολο της επιφάνειας του χώρου των εκθετών</li>
                <li><b>Πάγκος -</b> κάθε πάγκος αντιστοιχεί σ' έναν εκθέτη</li>
                <li><b>Παροχή ρεύματος</b> και λάμπες</li>
                <li><b>Kαρέκλα -</b> κάθε πάγκος συνοδεύεται απο μια καρέκλα, ο διπλός πάγκος περιλαμβάνει 2
                    καρέκλες
                </li>
                <li><b>Τα ένσημα ΙΚΑ -</b> για το Σάββατο 24 & την Κυριακή 25 Σεπτεμβρίου</li>
            </ul>

            <p class="md-body-1"><b>Σημείωση:</b><i> Ως διοργάνωση οφείλουμε να ασφαλίσουμε τον κάθε συμμετέχοντα.
                Αυτό διασφαλίζει την ομαλή και νόμιμη λειτουργία του Flea Market.</i></p>

            <h6 class="md-subhead">Διαστάσεις διαθέσιμων θέσεων:</h6>
            <ul class="md-body-1">
                <li>1.25 x 0.60 <i>(Κανονική θέση)</i></li>
                <li>1.80 x 0.76 <i>(Προνομιακή θέση)</i></li>
                <li>2.50 x 0.60 <i>(2 Κανονικοί πάγκοι ενωμένοι)</i></li>
            </ul>

            <br>
            <h5 class="md-title">Διαδικασία Πωλήσεων</h5>
            <p class="md-body-1">Όσον αφορά στον τρόπο με τον οποίο θα γίνονται οι πωλήσεις οι κατηγορίες είναι
                δύο</p>
            <ul class="md-body-1">
                <li>
                    <b>Εταιρίες και επιχειρηματίες</b> (επαγγελματίες) πραγματοποιούν οι ίδιοι τις πωλήσεις των
                    προϊόντων τους,
                    εκδίδοντας τα αναγκαία παραστατικά (υποχρεωτική έκδοση αποδείξεων) με τη δική τους ταμειακή
                    μηχανή ή
                    με
                    χειρόγραφο
                    μπλοκ αποδείξεων (τις ταμειακές μηχανές και τα χειρόγραφα μπλοκ τα προσκομίζετε οι ίδιοι. Είστε
                    εξ'
                    ολοκλήρου υπεύθυνοι για την έκδοση των αποδείξεων).
                </li>
                <li>
                    Οι <b>ιδιώτες</b> πραγματοποιούν υποχρεωτικά τις πωλήσεις τους μέσω των ταμειακών μηχανών της
                    διοργάνωσης
                    (υποχρεωτική έκδοση αποδείξεων).
                    Αυτός είναι και ο μοναδικός τρόπος. Επί των πωλήσεων ισχύει Φ.Π.Α. 24% και χαρτόσημο 3,6%.
                </li>
            </ul>

            <p class="md-body-1"><b>Σημείωση:</b><i> Δεν υφίσταται κανενός είδους προμήθεια! Και μην ξεχνάς.. να
                είσαι άνω των 18 ετών!</i></p>

            <br>
            <h5 class="md-title">Είσαι υπεύθυνος για</h5>

            <ul class="md-body-1">
                <li>Tον τρόπο που θα εκθέσεις τα προϊόντα – αντικείμενά σου και τη διακόσμηση της «θέσης» σου</li>
                <li>Tην προώθηση – διαφήμιση των προϊόντων- αντικειμένων σου, σεβόμενος πάντα και τους λοιπούς
                    συμμετέχοντες. Αθέμιτος ανταγωνισμός δεν θα γίνει δεκτός
                </li>
                <li>Tην ποιότητα, τις τιμές, τη συσκευασία και γενικά ό, τι αφορά τα προϊόντα – αντικείμενά σου</li>
                <li>Tη μεταφορά σου και τη μεταφορά των προϊόντων – αντικειμένων σου στο χώρο</li>
                <li>Tην παρουσία σου στη «θέση» σου, για όλες τις ώρες που θα διαρκέσει η εκδήλωση</li>
            </ul>
            <p class="md-body-1">
                Δεν θα παρασχεθεί προσωπικό για τις πωλήσεις, συνεπώς, είσαι υπεύθυνος και για τη φύλαξη των
                προϊόντων –
                αντικειμένων σου καθ’ όλη τη διάρκεια της εκδήλωσης
                (καθώς και για τα προσωπικά σου αντικείμενα). Για οποιαδήποτε απώλεια, η διοργάνωση δε φέρει ευθύνη.
            </p>

            <h6 class="md-caption">Σημείωσεις:</h6>
            <p class="md-body-1"><i>1- Τα προϊόντα – αντικείμενα τα οποία έχουν συμφωνηθεί (ανάλογα με το είδος και
                την κατηγορία, βλ. γενικές πληροφορίες & όρους συμμετοχής στη σύμβαση που θα κληθείς να υπογράψεις
                αφού εγκριθεί η αίτηση σου. Τα προϊόντα θα ελεγθούν κατά το στήσιμο των θέσεων πριν την έναρξη της
                εκδήλωσης).</i></p>

            <p class="md-body-1"><i>2- Η διοργάνωση θα παρέχει φύλαξη κατά τη διάρκεια της νύχτας.</i></p>
            <br>

            <h5 class="md-title">Δήλωση Συμμετοχής</h5>
            <p class="md-body-1">Οι δηλώσεις συμμετοχής θα διαρκέσουν μέχρι τις 5 Δεκεμβρίου (ή μέχρι εξαντλήσεων
                των θέσεων συμμετοχής)</p>

            <p class="md-body-1"><b>Θα λάβεις απάντηση</b> εντός 3 ημερών από την καταληκτική ημερομηνία υποβολής
                των αιτήσεων (μέσω email ή τηλεφωνικώς)</p>
            <br>
            <h5 class="md-title">Πρακτικά Ζητήματα</h5>
            <ul class="md-body-1">
                <li>Στήνουμε την ίδια μέρα τις πρωινές ώρες μεταξύ 07:30 και 10:30. Δηλαδή η ώρα προσέλευσης
                    είναι 07:30
                    το
                    πρωί!!! Οι τέντες θα είναι ήδη στη θέση τους.
                </li>
                <li>Ξεστήνουμε μετά τη λήξη της εκδήλωσης την Κυριακή 11 Δεκεμβρίου και φροντίζουμε να μην
                    αφήσουμε σκουπίδια πίσω μας.
                </li>
                <li>Θα υπάρχουν τουαλέτες στο χώρο.</li>
            </ul>
            <br>
            <h5 class="md-title">Επιπλέον Απορίες</h5>
            <p class="md-body-1">Λύστε τις επιπλέον απορίες σας στέλνοντας τα ερωτήματά σας στο email:
                hello@thefleamarketskg.com</p>

        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="closeDialog()">
            Close
        </md-button>
    </md-dialog-actions>

</md-dialog>
