<div itemscope itemtype="http://schema.org/foodEvent">
    <h1 class="margin-top md-headline">{{'ABOUT_HEADER_MAIN' | translate}}</h1>

    <!--<h2 class="margin-top md-title">{{'ABOUT_HEADER_TOP' | translate}}</h2>-->
    <p class="kt-justify" itemprop="about">{{'ABOUT_HEADER_TOP_TEXT' | translate}}</p>

    <h2 class="margin-top md-title">{{'ABOUT_HEADER_WHAT' | translate}}</h2>
    <p class="kt-justify">{{'ABOUT_HEADER_WHAT_TEXT' | translate}}</p>

    <h2 class="margin-top md-title">{{'ABOUT_HEADER_DESC' | translate}}</h2>
    <div itemprop="description">
        <p class="kt-justify">{{'ABOUT_HEADER_DESC_TEXT1' | translate}}</p>
        <p class="kt-justify">{{'ABOUT_HEADER_DESC_TEXT2' | translate}}</p>
    </div>
</div>


