<p class="kt-justify">Η δημιουργική ομάδα του SoulFood Thessaloniki (Upnloud &amp; Black Radio

    Berlin) παρουσιάζει το 1ο Thessaloniki Street Food Festival το Σάββατο 29 &amp;

    Κυριακή 30 Απριλίου, από τις 10 π.μ μέχρι και τις 10 μ.μ., στο νέο Δημαρχείο

    Θεσσαλονίκης.
</p>

<h3 class="margin-top">Τί είναι το Thessaloniki Street Food Festival?</h3>
<p class="kt-justify">
    Δημιουργούμε μια διήμερη γιορτή, ανοιχτή σε όλους!

    Μέσα από τις γεύσεις θέλουμε να αναζητήσουμε και να παρουσιάσουμε

    την κοινή γευστική ταυτότητα, να γνωρίσουμε το διαφορετικό και το ξένο, οι

    ουρανίσκοι μας να εξερευνήσουν νέες γεύσεις. Για 2 μέρες θα ζωντανέψει ένα

    «γευστικό» χωριό με διαφορετικές κουζίνες, αγορά με προϊόντα απ’ όλο το

    κόσμο, μουσική από DJs της πόλης, workshops για μικρά αλλά και μεγάλα

    παιδιά!
</p>

<h3 class="margin-top">Περιγραφή 1ου Thessaloniki Street Food Festival</h3>
<p class="kt-justify">
    Η ιδέα της δημιουργίας του 1ου Thessaloniki Street Food Festival

    γεννήθηκε μέσα από τα ταξίδια μας, την αγάπη μας για το φαγητό και φυσικά

    την ιστορία της Θεσσαλονίκης. Έχοντας ζήσει ο καθένας μας σε διάφορες πόλεις

    ανά τον κόσμο είχαμε την ευκαιρία να επισκεφτούμε, να γευτούμε &amp; να

    δουλέψουμε σε αντίστοιχα Street Food Festivals. Μέσα στο μυαλό μας η

    γαστρονομική αναζήτηση είναι άρρηκτα συνδεδεμένη με κάθε μας ταξίδι.

    Παράξενες γεύσεις, παλιές &amp; νέες συνταγές, άγνωστοι συνδυασμοί και υλικά.

    Η ιστορία της Θεσσαλονίκης μας ελκύει και μας δείχνει τη σωστή

    κατεύθυνση. Μια πόλη “σταυροδόμι των λαών”, η οποία τα παλιότερα χρόνια

    υπήρξε κοιτίδα πολυπολιτισμικότητας , που σήμερα την έχει διατηρήσει στις

    “γεύσεις” της. Μπαχάρια, αρώματα, πρώτες ύλες και συνταγές απ’ όλο τον

    κόσμο. Από τις Ινδίες μέχρι την Αμερική, από τα Ευρωπαϊκά γλυκά μέχρι τα

    σούσι της Ασίας.
</p>


