<div flex="80" flex-xs="100" layout="column">

    <div>
        <!--<hr>-->
        <h3 class="pricelist kt-align dimgrey">Τιμοκατάλογος</h3>

        <md-table-container>
            <table md-table ng-model="selected" md-progress="promise">
                <thead md-head md-order="myOrder">
                <tr md-row>
                    <th md-column><span>Πάγκος</span></th>
                    <th md-column md-numeric md-order-by="dimensions"><span>Διαστάσεις</span></th>
                    <th md-column md-numeric md-order-by="price"><span>Κόστος</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="merchant" md-select-id="name" md-auto-select
                    ng-repeat="merchant in infoCtrl.merchants | orderBy: myOrder">
                    <td md-cell>{{merchant.zone}}</td>
                    <td md-cell>{{merchant.dimensions}}</td>
                    <td md-cell>{{merchant.price | currency:"€" : 0}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <!--<hr>-->
    </div>

    <div style="display: block;">
        <div layout-xs="column" layout="row" layout-padding>
            <div flex layout="column" layout-align="start center">
                <h3 class="dimgrey">Επαγγελματίες</h3>
                <div flex layout-margin>
                    <img src="assets/img/epaggelmaties.jpg" class="info-image"/>
                    <p class="kt-justify md-body-1">
                        Κατά τη διάρκεια του διημέρου, εταιρίες και επιχειρηματίες πραγματοποιούν τις πωλήσεις των
                        προϊόντων τους, εκδίδοντας απόδειξη με δική τους ταμειακή μηχανή, ή χειρόγραφο μπλοκ αποδείξεων.
                    </p>
                </div>
            </div>

            <div flex layout="column" layout-align="start center">
                <h3 class="dimgrey">Ιδιώτες</h3>
                <div flex layout-margin>
                    <img src="assets/img/idiotes.jpg" class="info-image"/>
                    <p class="kt-justify md-body-1">
                        Η έκδοση παραστατικών γίνεται υποχρεωτικά μέσω των ταμειακών μηχανών της διοργάνωσης.
                        Επί των πωλήσεων ισχύει Φ.Π.Α. 24% και χαρτόσημο 3,6%.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
