<md-content flex layout="row" class="kt-test" layout-padding layout-align="center start">

    <div layout="row" flex="80">
        <div flex="60" layout="column">
            <div layout="row">
                <div flex="33">1</div>
                <div flex="33">2</div>
                <div flex="33">3</div>
            </div>
            <div>MAP</div>
        </div>


        <div flex layout="row">
            <div flex="80">{{'LOCATION_TEXT' | translate}}</div>
            <div></div>
        </div>
    </div>

</md-content>
