<md-content flex layout="row" class="kt-test" layout-padding layout-align="center start">

    <div layout="row" flex="80">
        <div flex="60" layout="column">
            <div layout="row">
                <div flex="33">1</div>
                <div flex="33">2</div>
                <div flex="33">3</div>
            </div>
            <div flex="50" flex-xs="100" layout="column">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'
                                    options="map.options" refresh="contact">
                    <ui-gmap-markers models="markers" coords="'self'" fit='false'></ui-gmap-markers>
                </ui-gmap-google-map>
            </div>
        </div>


        <div flex layout="column">
            <div flex="80">{{'LOCATION_TEXT' | translate}}</div>
            <md-divider></md-divider>
            <p>asdfsdkjfkjsad flsdlkfnsflk sdfklg jksdfg kjfds gkjdf gkjhsdf glj lsjkfsfdjkgsdfjg d!</p>
        </div>
    </div>

</md-content>
