<div layout="row" layout-xs="column">
    <div flex="60" flex-xs="100">
        <div>
            <md-grid-list
                    md-cols-xs="3" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3"
                    md-row-height-gt-md="1:1" md-row-height="1:1"
                    md-gutter="12px" md-gutter-gt-sm="8px">
                <md-grid-tile ng-repeat="image in locationCtrl.gallery">
                    <a ng-click="openLightboxModal($index)">
                        <img ng-src="{{image.url}}" class="img-thumbnail kt-thumbnail">
                    </a>
                </md-grid-tile>
            </md-grid-list>
        </div>

        <div class="map-wrapper margin-top-2em" id="map">
            <ui-gmap-google-map ng-if="mapReady" center='map.center' zoom='map.zoom'
                                options="map.options" refresh="contact">
                <ui-gmap-markers models="markers" coords="'self'" fit='false'></ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
    </div>

    <div flex="5" hide-xs></div>

    <div flex="35" flex-xs="100">
        <div>
            <h3 class="md-title" ng-class="$mdMedia('gt-xs') ? 'no-margin-top' : ''">{{'LOCATION_HEADER' | translate}}</h3>
            <p>{{'CITYHALL_TEXT1A' | translate}}<br>
                {{'CITYHALL_TEXT1B' | translate}}<br/>
                {{'CITYHALL_TEXT1C' | translate}}<br/>
                {{'CITYHALL_TEXT1D' | translate}}<br/>
            </p>
        </div>

        <md-divider style="border-color:#fafafa;"></md-divider>

        <div>
            <h3 class="md-title margin-top-10">{{'BUS_HEADER' | translate}}</h3>
            <p>
                {{'BUS_TEXT1A' | translate}} <br/>
                {{'BUS_TEXT1B' | translate}} <br/>
                {{'BUS_TEXT1C' | translate}}
            </p>
            <p>
                {{'BUS_TEXT2A' | translate}} <br/>
                {{'BUS_TEXT2B' | translate}} <br/>
                {{'BUS_TEXT2C' | translate}}
            </p>
            <p>
                {{'BUS_TEXT3A' | translate}} <br/>
                {{'BUS_TEXT3B' | translate}} <br/>
                {{'BUS_TEXT3C' | translate}}
            </p>
            <p>
                {{'BUS_TEXT4A' | translate}} <br/>
                {{'BUS_TEXT4B' | translate}} <br/>
                {{'BUS_TEXT4C' | translate}}
            </p>
        </div>
    </div>
</div>
