
<!--<uib-carousel flex layout="column" layout-align="center center" active="homeCtrl.active" interval="homeCtrl.interval" no-wrap="homeCtrl.noWrapSlides">-->
    <!--<uib-slide ng-repeat="slide in homeCtrl.slides track by slide.id" index="slide.id">-->
        <!--<img ng-src="{{slide.path}}" style="width: 100%; height: calc(100vh - 88px); object-fit: cover;">-->
        <!--<div class="carousel-caption" >-->
            <!--<h2>{{slide.desc}}</h2>-->
            <!--&lt;!&ndash;<h2>{{slide.subDesc}}</h2>&ndash;&gt;-->
        <!--</div>-->
    <!--</uib-slide>-->
<!--</uib-carousel>-->

<!--<div class="main-background"></div>-->
<div flex layout="column" layout-align="center center">
    <video src="assets/videos/videoSoul1.mp4" autoplay controls poster="assets/img/logoSoul.jpg" style="width: 100%;">
        Sorry, your browser doesn't support embedded videos,
        but don't worry, you can <a href="assets/videos/videoSoul1.mp4">download it</a>
        and watch it with your favorite video player!
    </video>
</div>