
<uib-carousel flex layout="column" layout-align="center center" active="homeCtrl.active" interval="homeCtrl.interval" no-wrap="homeCtrl.noWrapSlides">
    <uib-slide ng-repeat="slide in homeCtrl.slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.path}}" style="width: 100%; height: calc(100vh - 88px); object-fit: cover;">
        <div class="carousel-caption" >
            <h2>{{slide.desc}}</h2>
            <!--<h3>{{slide.subDesc}}</h3>-->
        </div>
    </uib-slide>
</uib-carousel>
