<md-content flex layout="row" class="contact-page">
    <div flex="70" flex-xs="100" layout="column" layout-padding class="over-fab-trigger">
        <!--<h2 class="md-title">ΕΠΙΚΟΙΝΩΝΙΑ</h2>-->

        <md-content md-whiteframe="4" layout-padding>
            <h3 class="dimgrey margin-top">{{'CONTACT_HEADER' | translate}}</h3>

            <form novalidate id="contact-form" name="contactForm" ng-submit="contactCtrl.sendEmail()">
                <md-content layout="column" class="contact-letter">
                    <md-input-container style="width:60%;" class="md-block">
                        <label for="name">{{'CONTACT_LABEL_NAME' | translate}}</label>
                        <input
                                ng-model="person.name"
                                type="text"
                                name="name"
                                id="name"
                                required/>
                        <div ng-messages="contactForm.name.$error">
                            <p ng-message="required">{{'CONTACT_LABEL_NAME_ERROR' | translate}}</p>
                        </div>
                    </md-input-container>

                    <md-input-container style="width:60%;" class="md-block" layout="column">
                        <label for="email">{{'CONTACT_EMAIL' | translate}}</label>
                        <input
                                ng-model="person.email"
                                type="email"
                                name="email"
                                id="email"
                                required/>
                        <div ng-messages="contactForm.email.$error">
                            <p ng-message="email">{{'CONTACT_EMAIL_ERROR1' | translate}}</p>
                            <p ng-message="required">{{'CONTACT_EMAIL_ERROR2' | translate}}</p>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label for="message">{{'CONTACT_QUESTION' | translate}}</label>
            <textarea
                    ng-model="person.message"
                    name="message"
                    id="message"
                    md-maxlength="150"
                    rows="3"
                    required>
            </textarea>
                        <div ng-messages="contactForm.message.$error">
                            <p ng-message="required">{{'CONTACT_QUESTION_ERROR1' | translate}}</p>
                            <p ng-message="md-maxlength">{{'CONTACT_QUESTION_ERROR2' | translate}} </p>
                        </div>
                    </md-input-container>

                </md-content>

                <md-input-container layout="row" layout-align="end center">
                    <p ng-show="contactCtrl.showSuccess" flex class="green">{{'CONTACT_SUCCESS' | translate}} Το μήνυμά σου έφυγε επιτυχώς!</p>
                    <p ng-show="contactCtrl.showFailure" flex class="error">{{'CONTACT_ERROR' | translate}} Παρουσιάστηκε κάποιο σφάλμα. Δοκίμασε να
                        στείλεις το μήνυμά σου στο <a href="mailto:soulfoodthessaloniki@gmail.com?subject=Mail%20from%20Website%20direct%20link">soulfoodthessaloniki@gmail.com</a>
                    </p>
                    <md-button class="md-raised md-accent" type="submit" ng-disabled="!contactForm.$valid">{{'CONTACT_SEND' | translate}}
                    </md-button>
                </md-input-container>
            </form>
        </md-content>
    </div>

</md-content>
